# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
coverage/

# Cache
.cache/
.tmp/
.next/
out/

# MongoDB database files (if any local dump)
dump/
data/
*.bson
*.json
*.lock

# IDE / Editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Misc temporary files
*.bak
*.tmp
